{{#partial "content"}}
    <div class="content" style="background-color:black;">
        <h1>LINDA BIZZ</h1>

        <div style="display:flex;">
            <div>
                <a href="/purchase"><b style="color:green;">VIEW YOUR PURCHASES</b><small>inventory</small></a>
            </div>
            <div style="margin-left:10px">
                <a href="/sales"><b style="color:pink;">VIEW YOUR SALES</b> <small>inventory</small></a>
            </div>
        </div>
    </div>

{{/partial}}
{{> layout.hbs}}