<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Wildlife Tracker</title>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body style="background-color:grey; font-size:30px;">-->
<!--<div class="container-fluid">-->
<!--    <div class="welcome">-->
<!--&lt;!&ndash;        <div class="navbar">&ndash;&gt;-->
<!--&lt;!&ndash;            <nav-bar>&ndash;&gt;-->
<!--&lt;!&ndash;                <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a class="a" href="/">Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a class="dplinks" href="/sales" >SALES</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a class="dplinks" href="/sales/form" >Record sale</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a class="dplinks" href="/purchase" >PURCHASES</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a class="dplinks" href="/purchase/form" >Record purchase</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;            </nav-bar>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <nav class="navbar navbar-expand-lg navbar-dark primary-color">-->
<!--            <a class="navbar-brand" href="/"><b><i>LINDA_Bizz</i></b></a>-->
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"-->
<!--                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarNav">-->
<!--                <ul class="navbar-nav">-->
<!--                    <li class="nav-item active">-->
<!--                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>-->
<!--                    </li>-->
<!--                   -->
<!--&lt;!&ndash;                    <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="nav-link" href="/sales/form">Features</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                -->
<!--&lt;!&ndash;                    <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="nav-link" href="/purchase/form">PlacePurchase</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="nav-link disabled" href="#">Disabled</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                </ul>-->
<!--            </div>-->
<!--        </nav>-->
<!--        <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--            <a class="navbar-brand" href="/">Navbar</a>-->
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarNav">-->
<!--                <ul class="navbar-nav">-->
<!--                    <li class="nav-item active">-->
<!--                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Features</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Pricing</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link disabled" href="#">Disabled</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </nav>-->
<!--        <div class="col-md-12">-->
<!--            {{#block "content"}}-->
<!--            {{/block}}-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--{{#block "footer"}}-->
<!--    <footer class="footer">-->
<!--    </footer>-->
<!--    </body>-->
<!--    </html>-->
<!--{{/block}}-->











<link rel='stylesheet' href='/app.css'>
{{#block "header"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}WILDLIFE-tracker{{/block}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="/css/main.css">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body style="background-color:grey;font-size:30px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:black">
        <a class="navbar-brand" href="/"><i><b>LINDA_BIZZ</b></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="/sales"><b style="background-color:black; color:white;">SALES</b></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/purchase"><b style="background-color:black; color:white;">PURCHASES</b></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="page-header" style="display:flex; ">
            <h1 style="color:white;">We help you manage your business.<br> Simply by keeping record of your <span style="color:orange;">purchases</span> and <span style="color:yellow;">Sales</span></h1>
        </div>
        {{#block "content"}}
        {{/block}}
    </div>
    {{#block "footer"}}
        <footer class="footer">
        </footer>
        </body>
        </html>
    {{/block}}
{{/block}}
