{{#partial "content"}}
    <div class="pages">
        <h2 class="text-center">Wildlife</h2>
        <p>The Purchase has been successfully added!!!</p>
        <a href="/purchase" class="otherbuttons">View All Purchase</a>
    </div>
{{/partial}}

{{> layout.hbs}}