{{#partial "content"}}
    <div class="section">
        <div class="form-left">
            <h2>Purchase</h2>
        </div>
        <div class="form-right">
            <h3>Add a purchase</h3>
            <form action="/purchase/new" method="post" name="purchaseForm" class="form">
                <label for="productname">Product Name</label>
                <input class="form-control input" type="text" placeholder="Enter the product name..." name="productname" id="productname" autocomplete="on">
                <label for="merchantname">Merchant Name</label>
                <input class="form-control input" type="text" placeholder="Enter Merchant name" name="merchantname" id="merchantname">
                <label for="quantity">Quantity</label>
                <input class="form-control input" type="number" placeholder="Enter Quantity" name="quantity" id="quantity" >
                <label for="unitprice">Unit Price</label>
                <input class="form-control input" type="unitprice" placeholder="Enter Unit Price" name="unitprice" id="unitprice" >

                <button type="submit" class="button">Add</button>
            </form>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}