{{#partial "content"}}
    <div class="pages">
        <h2 class="text-center">Wildlife</h2>
        <p>The Sale has been successfully added!!!</p>
        <a href="/sales" class="otherbuttons">View All Sales</a>
    </div>
{{/partial}}

{{> layout.hbs}}